.About-container{
    background-color:#1c1427;
    height: 100vh;
    color:  white;
}
.About-header{
    text-align: center;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    
}
h1{
    font-size: xx-large;
    margin-bottom: 0%;
}
h6{
    color: gray;
    margin-top: 0%;
    font-size: small;
    text-transform: capitalize;
    font-style: italic;
}
.about-body{
    display: flex;
}
.left{
    width: 50%;
}
.right{
    width: 50%;

}
.name{
    margin-bottom: 3%;
}
span{
    color: rgba(78,203,195,255);
    font-weight: 900;
    margin-bottom: 10px;
    font-size: large;
}
.span{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.span div{
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
}
.box1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.box-detail1{
    border: 1px solid  rgba(78,203,195,255);
    border-radius: 10px;
    padding:35px 70px 
}
@keyframes shake {
  0%,100% { translate: 0;}
  25% { translate: 8px 0;}
  75% { translate: -8px  0;}
}

.box-detail1:hover{
    border:1px solid white;
    color: black;
    background-color: white;
    animation: shake 0.4s 3;
}
.box-detail1 h1{
    color: rgba(78,203,195,255);
    text-align: center;
}
.skill-container{
    background-image: url("https://i.pinimg.com/564x/41/82/a9/4182a9dd330c6442c4a1fbc78274d838.jpg");
    background-size: cover;z-index: 1;
    color: white;
    height: 500px;
}

@media (max-width: 600px) {
    .About-container{
        width: 99%;
    }
    .about-body{
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: x-large;
        margin-bottom: 0%;
    }
    
    .box-detail1{
        border: 1px solid  rgba(78,203,195,255);
        border-radius: 10px;
        padding:20px 30px ;
        margin: 5px;
        align-items: center;
        text-align: center;
    }
}