.links{
    display: flex;
    justify-content: center;
}
.navlinks{
    background-color: #1c1427;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 1vh;
    margin-right: 20px;
    justify-content: space-around;
}
a:hover{
    background-color: aqua;
    color: black;
}
a{
    text-decoration: none;
    list-style: none;
}